body {
  color: #353d41;
  background-color: #f6f4d6;
}

html,
body,
h2 {
  margin: 0;
}

h4 {
  text-align: center;
}

header {
  text-align: center;
  height: 10%;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

article {
  margin: 10px;
  overflow-y: auto;
  height: 100%;
}

nav {
  padding: 2rem;
  height: 100%;
  display: block;
  height: 100%;
}

nav a {
  display: block;
}

.burger {
  display: none;
  cursor: pointer;
}

header,
nav {
  color: #f6f4d6;
  background-color: #353d41;
}

.container {
  display: flex;
  height: 100%;
}

.container article {
  flex: 1 1 auto;
}

@media (max-width: 800px) {
  /* mobilka */
  header {
    justify-content: space-between;
  }

  nav {
    display: none;
    bottom: 0;
    left: 0;
    z-index: 20;
  }

  .burger {
    display: block;
  }
}
