body {
  color: #353d41;
  background-color: #f6f4d6;
}

html,
body,
h2 {
  margin: 0;
}

header {
  text-align: center;
  height: 10%;
}

header,
nav {
  color: #f6f4d6;
  background-color: #353d41;
}

.container {
  display: flex;
}

.container nav {
  flex: 0 1 auto;
}

.container article {
  flex: 1 1 auto;
}
