body {
  color: #353d41;
  background-color: #f6f4d6;
}

html,
body,
h2 {
  margin: 0;
}

header {
  text-align: center;
  height: 10%;
}

article {
  margin: 10px;
  overflow-y: auto;
}

nav {
  height: 100%;
  display: block;
}

.burger {
  display: none;
}

header,
nav {
  color: #f6f4d6;
  background-color: #353d41;
}

.container {
  display: flex;
}

.container nav {
  flex: 0 1 auto;
}

.container article {
  flex: 1 1 auto;
}

.overlay {
  display: none;
}

@media (max-width: 800px) {
  /* mobilka */
  nav {
    display: none;
  }
  .burger {
    display: block;
  }
}
